{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div>
        <h1>{{ seguro.nombre }}</h1>
    </div>
    <div>
        <p>Estado: {{ seguro.estado }}</p>
    </div>
    <div>
        <p>Color: {{ seguro.color }}</p>
    </div>
    <div>
        <p>Prima Minima: {{ seguro.prima_minima }}</p>
    </div>
    <button type="button" class="btn btn-danger" id="btnEliminar" data-toggle="modal" data-target="#exampleModal">
        Eliminar
    </button>
    <a href="{% url 'vra:see_seguros' %}" class="btn btn-success">Cancelar</a>
</div>

<!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Seguro que deseas eliminar el seguro {{seguro.nombre}}?
        </div>
        <div class="modal-footer">
            <a href="{% url 'vra:confirm_delete_seguro' seguro.seguro_id %}" class="btn btn-primary">Si</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $("#btnEliminar").click(function(){
        $("#exampleModal").modal();
      });
    });
    </script>
{% endblock %}