{% extends "base.html" %}

{% block content %}


<div class="container-fluid">
    {% include 'messages.html' %}

    <!-- <a class="btn btn-secondary" href="{% url 'vra:index' %}"> Atras </a> -->
    <form action="{% url 'vra:create_seguro' %}" method="post"> {% csrf_token %}
        <div class="form-group col-6">
            <label for="exampleInputNombre">Nombre</label>
            <input type="text" class="form-control" id="exampleInputNombre" name="nombre"  required>
            <div class="text-danger display-5" id="message">
                <!-- <small>{% if error_message %} {{error_message}} {% elif message %} {{message}} {%else%}  {% endif %}</small> -->
            </div>
        </div>
        <div class="form-group col-6">
            <label for="exampleInputEstado">Estado</label>
            <select name="estado" class="form-control" id="exampleInputEstado" required>
                <option value="ACTIVO">ACTIVO</option>
                <option value="INACTIVO">INACTIVO</option>
            </select>
        </div>
        <div class="form-group col-6">
            <label for="exampleInputColor" maxlength="7">Color</label>
            <input type="text" class="form-control" id="exampleInputColor" name="color" >
        </div>
        <div class="form-group col-6">
            <label for="exampleInputPrima">Prima Maxima</label>
            <input type="number" class="form-control" id="exampleInputPrima" name="prima_minima" >
        </div>

        <input class="btn btn-success" type="submit" value="Crear" >
        <a href="{% url 'vra:index' %}" class="btn btn-danger">Cancelar</a>
    </form>

    <!-- <button id="crearSeguro">validar</button> -->

</div>




{% endblock %}