{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    
    {% include 'messages.html' %}

    <table class="table table-sm table-bordered table-hover">
        <th>Nombre</th>
        <th scope="col">estado</th>
        <th scope="col">color</th>
        <th scope="col">Prima Minima</th>
        <th></th>

        {% for seguro in seguros %}
            <tr>
                <td>
                    {{seguro.nombre}}
                </td>
                <td>
                    {{ seguro.estado }}
                </td>
                <td>
                    {{seguro.color}}
                </td>
                <td>
                    {{seguro.prima_minima}}
                </td>
                <td>
                    <a href="{% url 'vra:update_seguro' seguro.seguro_id %}">Editar</a>
                    <a href="{% url 'vra:delete_seguro' seguro.seguro_id %}">Eliminar</a>
                </td>
            </tr>
        {%endfor%}
    </table>
</div>
{% endblock %}